
<div class="breacrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text product-more">
                  <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                  <a href="./shop.html">Shop</a>
                  <span>Check Out</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
  <div class="container">

    <div class="alert alert-secondary" role="alert" style="font-size: large;">
        Facture à payer est :  <a href="#" class="alert-link" style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-decoration: underline black;">
           $ {{ prixTotal | json}} </a>          
        </div>
      <form   (ngSubmit)="onSubmit(myfrom)" #myfrom="ngForm"   class="checkout-form">
          <div class="row">
              <div class="col-lg-6">
                  <br><br><br><br>
                  <h4>Biiling Details</h4>
                  <div class="row">
                      <div class="col-lg-6">
                          <label for="fir">First Name<span>*</span></label>
                          <input type="text" id="fir"  name="first_name" [(ngModel)]="order.first_name" >
                      </div>
                      <div class="col-lg-6">
                          <label for="last">Last Name<span>*</span></label>
                          <input type="text" id="last" name="last_name"  [(ngModel)]="order.last_name">
                      </div>
                      <div class="col-lg-6">
                        <label for="phone">Phone<span>*</span></label>
                        <input type="text" id="phone" name="phone"  [(ngModel)]="order.phone">
                    </div>
                    <div class="col-lg-6">
                        <label for="email">Email Address<span>*</span></label>
                        <input type="text" id="email" name="email"  [(ngModel)]="order.email">
                    </div>
                   
                      
                  </div>
              </div>
              <div class="col-lg-6">
               <br><br><br><br>
                  <div class="place-order">
                      <h4>Mode de payement</h4>
                      <div class="order-total">
                         
                          <div class="payment-check">
                              <div class="pc-item">
                                  <label for="pc-check">
                                      Cheque Payment
                                      <input type="checkbox" id="pc-check"  name="cheque"  [(ngModel)]="order.cheque"> 
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                              <div class="pc-item">
                                  <label for="pc-paypal">
                                      Paypal
                                      <input type="checkbox" id="pc-paypal"  name="paypal"  [(ngModel)]="order.paypal">
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                          </div>
                          <input type="hidden" id="pt" name="PrixTotal" [value]="prixTotal"  [(ngModel)]="order.prixTotal">

                          <div class="order-btn">
                              <button type="submit" class="site-btn place-btn" [disabled]="!myfrom.valid">Place Order</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</section>
