.colBtn{
    margin: auto;
    width: 50%;
    padding: 0px;
    padding-top: 70px;
    
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.rowBtn{
    margin: auto;
    width: 50%;
    padding: 0px;
    
}

.Adimg {
    float: left;
    width:  363px;
    height: 264px;
    object-fit: cover;
}

.Adimglook{
    float: left;
    width:  500px;
    height: 800px;
    padding-bottom: 50px;
    object-fit: cover;
}

