.note
{
    text-align: center;
    height: 80px;

    color: #4d3e3e;
    font-weight: bold;
    line-height: 100px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #efee9d;
    color:black;
    font-weight: bold;
}
legend {
    background-color: #efee9d;
    color: black;
    padding: 3px 6px;
}
 