<body>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>users</b></h2>
          </div>
          <div class="col-sm-6">
            <a [routerLink]="['/register']" class="btn btn-success" data-toggle="modal" >
              <i class="material-icons">&#xE147;</i> <span>Add New user</span></a>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" 
          [(ngModel)]='listFilter'>
        </div>

        </div>
        <br>
      <table class="table table-striped table-hover" *ngIf = 'filtereduser && filtereduser.length'>
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
             <th>Address</th>
             <th>Email</th>
             <th>Contact</th>
           
             <th>Password</th>
              <th>Action</th>
               
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor= "let user of filtereduser;let i = index">
            <td> {{user.id}}</td>
            <td> {{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.address}}  </td>
            <td>{{user.email}}</td>
            <td>{{user.contact}}  </td>
            <td>{{user.password}}  </td>
    
           <td>
              <a [routerLink]="['editUser',user.id]" class="edit" data-toggle="modal">
                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
             <a (click)="Suppr(user.id)" class="delete" data-toggle="modal"  >
                <i class="material-icons" data-toggle="tooltip" title="delete">&#xE872;</i> </a>  
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

 
 