
<div class="limiter">
	<div class="container-login100">
   
		<div class="wrap-login100">
     
			<div class="login100-pic js-tilt" data-tilt> 
      <br>
				<img src="./assets/imgs/download.jpg" alt="IMG">
      </div>
    
      <form class = "test" (ngSubmit)="onSubmit(myfrom)" #myfrom="ngForm">
     
            <input type="text" class="input100" placeholder="Email " name="email" [(ngModel)]="selectedUser.email">
      <br>
          <input type="text" class="input100" placeholder="Adresse " name="adresse" [(ngModel)]="selectedUser.adresse">
          <br>
      
        <input type="text" class="input100" placeholder="contact " name="contact" [(ngModel)]="selectedUser.contact">
    
        <br>
        <input type="text" class="input100" placeholder="First name  " name="first_name" [(ngModel)]="selectedUser.first_name">
 
      
        <br>
        <input type="text" class="input100" placeholder="Last name  " name="last_name" [(ngModel)]="selectedUser.last_name">
   
     
        <br>
        <input type="text"class="input100" placeholder="Password " name="password" [(ngModel)]="selectedUser.password">
        <br>
        <div class=" row">
          <div class="col-md-4"></div>
          <div class="col-md-4"> <button type="submit" class="btn btn-success" [disabled]="!myfrom.valid">Submit</button></div>
        </div>
        
       
      </form>
		</div>
	</div>
</div>